@charset "utf-8";

.dmrc-logo {
  margin: 8pt;
  width: 10%;
}

img[alt=lofi] {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.dmrc-colorscheme {
  display: block;
  margin: 0 auto;
  border:1px solid #021a40;
}

.dmrc-final-app{
    width: 20%;
    // border: none;
    // background: none;
    margin: 8pt;
}

.dmrc-container{
  text-align:center;
}

.dmrc-group-pic{
  width: 60%;
  margin: 8pt;
}

.dmrc-station{
  width: 70%;
  margin: 8pt;
}

.dmrc-prop{
  width: 25%;
}

.dmrc-director{
  width: 80%;
  margin: 10pt;
}